<div class="row" id="add-burger-section">
    <div class="col-md-12">
        <span class="text-center"><h2>Add Burger to Menu</h2></span>
        <form action="" class="add-burger text-center">
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="newBurger" name="burgerName" required>
            </div>
            <button class="button-style" type="submit">ADD BURGER</button>
        </form>
    </div>
</div>