<li>
    {{this.burger_name}}

    {{#unless devoured}}<button class="change-devoured-state" data-id="{{this.id}}" data-devoured="{{this.devoured}}">
        DEVOUR ME
    </button>{{else}}{{/unless}}
</li>